.music-player {
    text-align: right;
    margin-top: 5px;
    position:fixed;
    z-index: 9999;
  }
  
  #play-pause-btn {
    width: 14px;
    height: 14px;
    background-color: rgba(255,255,255,0);
    border: none;
    cursor: pointer;
  }
  
  #play-pause-btn.play {
    background-image: url('/assets/music/play.png'); /* 재생 버튼 이미지 */
    background-size: cover;
  }
  
  #play-pause-btn.pause {
    background-image: url('/assets/music/stop.png'); /* 일시정지 버튼 이미지 */
    background-size: cover;
  }
  